<html>
    <head>
        <meta charset="UTF-8" />
        <title>WeatherWatch</title>
        <link rel="stylesheet" href="css/default.css" />
    </head>
    <body>
        <header>

        </header>
        <article>

        </article>
        <footer>
            
        </footer>
    </body>
</html>